.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: url("../../assets/navBar6.jpg") ;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: black;
    display: block;
    transition: 0.3s;
    text-decoration: none;
}

.sidenav a:hover {
    color: #f1f1f1;
    text-decoration: none;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    background-color: transparent;
    color: #f1f1f1;
    cursor: pointer;
}

.dropdown-nav{
    font-size: 6px;
    margin-left: 6px;
    border: black;
}

.dropdown-nav-menu{
    background-color: #e6ffcc;
    margin: 0px;
    font-size: 2px;
}

